<div id="content" class="bg-white/10 col-span-9 rounded-lg p-6">
  <div class="text-center text-white text-xl font-bold">Edit Category</div>
  <div class="mt-5 flex justify-center">
    <%= render 'form' %>
  </div>
</div>
