<div id="content" class="bg-white/10 col-span-9 rounded-lg p-6">
  <div class="flex justify-center">
    <h1 class="text-white text-xl">Add Product</h1>
  </div>
  <div class="flex justify-center mt-6" data-controller="product-create">
    <%= render 'form' %>
  </div>
</div>
